@media all and (max-width: 1024px) and (min-width: 768px){
    h3.hello{
        font-size: 28px;
        margin-top: 30px;
    }
    h3.hello span{
        font-size: 35px;
        font-weight: 700;
    }
    h3.my-profession{
        font-size: 30px;
        margin-top: 15px;

    }
    .home-page p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .home .home-img img{
        height: 300px;
        width: 300px;
        border-top-right-radius: 30px;
        border-bottom-left-radius:30px;
    }
    .home .home-img{
        max-width: 37%;
    }
    .home-img::after{
        height: 70px;
        width: 70px;
        border-bottom: 7px solid #EE5A24;
        border-right: 7px solid #EE5A24;
        right: 3px;
        bottom: -10px;
    }
    .home-img::before{
        height: 70px;
        width: 70px;
        border-left: 7px solid #EE5A24;
        border-top: 7px solid #EE5A24;
        left: 2px;
        top: -13px;
    }
    .service .service-div{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        margin-right: 250px;
        padding-right: 100px;
    }
    .service-div div{
        width: 180px;
        height: 180px;
        margin-left: 120px;
    }
    .my-details li{
        font-size: 18px;
    }
    .contact-us{
        margin-left: 20px;
        margin-top: 15px;
    }
    .footer .logo{
        top: 5px;
        left: 450px;
        font-size: 5px;
    }
    .footer .logo a{
        font-size: 30px;
    }
    .footer .logo a span{
        font-family: "Calibri Light" ,cursive;
        font-size: 50px;
    }
    .footer .logo a::before{
        width: 20px;
        height: 20px;
        border-top: 4px solid #EE5A24;
        border-left: 4px solid #EE5A24;
        left: 2px;
        top: -3px;
    }
    .footer .logo a::after{
        width: 20px;
        height: 20px;
        border-right: 4px solid #EE5A24;
        border-bottom: 4px solid #EE5A24;
        right: 0;
        bottom: 3px;
    }
    .footer .logo h5{
        font-size: 15px;
        margin-top: 10px;
    }

}
@media all and (max-width: 768px){
    header {
        height: 120px;
    }
    .nav{
        right: 90px;
        top: 85px;
    }
    .header .logo{
        position: absolute;
        top: 9px;
        left: 320px;
        font-size: 20px;
        text-transform: capitalize;
    }
    .home-page{
        padding-right: 20px;
    }
    h3.hello{
        font-size: 22px;
        margin-top: 28px;
    }
    h3.hello span{
        font-size: 30px;
        font-weight: 700;
    }
    .home .home-img img{
        height: 270px;
        width: 270px;
    }

    .home-img::after{
        height: 50px;
        width: 50px;
        border-bottom: 6px solid #EE5A24;
        border-right: 6px solid #EE5A24;
        right: -40px;
        bottom: -8px;
    }
    .home-img::before{
        height: 50px;
        width: 50px;
        border-left: 6px solid #EE5A24;
        border-top: 6px solid #EE5A24;
        left: -10px;
        top: -10px;
    }
}