@media all and (max-width: 1440px) and (min-width: 1024px){
    h3.hello{
        font-size: 28px;
        margin-top: 30px;
    }
    h3.hello span{
        font-size: 35px;
        font-weight: 700;
    }
    h3.my-profession{
        font-size: 30px;
        margin-top: 15px;

    }
    .home-page p{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    .home .home-img img{
        height: 300px;
        width: 300px;
        border-radius: 20px;
    }
    .home .home-img{
        max-width: 37%;
    }
    .home-img::after{
        height: 70px;
        width: 70px;
        border-bottom: 7px solid red;
        border-right: 7px solid red;
        right: 3px;
        bottom: -10px;
    }
    .home-img::before{
        height: 70px;
        width: 70px;
        border-left: 7px solid burlywood;
        border-top: 7px solid burlywood;
        left: 2px;
        top: -13px;
    }
}